.matrix {
  --grid-columns: '0';

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 20px);
  grid-auto-rows: 20px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: white;
  box-shadow: 0 0 2px 1px #00000014;
}

.matrix-label {
  color: #b1b1b7;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: center;
}

.matrix-cell {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  text-align: center;
}
